a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    /*text-shadow: ;*/
}

a:hover{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.footer-logo{
    max-width: 40px;
}

.main-content p{
    text-indent: 5em;
}
